<html>
    <b>Hello {{ data['username'] }}</b>
    <br>
    <form action="/add_alias" method="POST">
      <input type="text" name="alias" value="some@email.com">
      <input type="submit" value="Submit">
    </form>
    {% if data['alias'] %}
      <p>You have the following alias'</p>
      <p>
      {% for alias in data['alias'] %}
          {{ alias }}
          {% if loop.index != loop.length %}
              ,
          {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    {% if kwargs.get('new_alias') %}
        <b style="color: chocolate">New alias confirmed!</b>
    {% endif %}
    {% if kwargs.get('new_alias') %}
        <b style="color: chocolate">Alias requested!</b>
    {% endif %}
    <br>
    {% if data['repos'] %}
      <p>
      {% for repo_name, repo_url in data['repos'].items() %}
          {{ repo_name }}
          {% if loop.index != loop.length %}
              ,
          {% endif %}
      {% endfor %}
      </p>
      <form action="/sync_repos">
        <input type="submit" value="Sync Repos" />
      </form>
    {% else %}
      <form action="/get_repos">
          <input type="submit" value="Get Repos" />
      </form>
    {% endif %}
    {% if data['repo_data'] %}
      <p>
      {% for file_type, lines in data['repo_data'].items() %}
          {{ file_type }} - {{ lines }} lines
          {% if loop.index != loop.length %}
              ,
          {% endif %}
      {% endfor %}
      </p>
    {% endif %}
</html>